%h2 Drag this link to your Bookmarks Bar:
%p
  %a{:href => @href, :title => "Drag me to your Bookmarks Bar"} Already Found
%p Click the bookmarklet and enter your query. Alternatively, you can select your queries text and click the bookmarklet. 