%h2 Create Your Bookmarklet
%h3 Set your bookmarklet preferences.
%form{ :action => "/bookmarklet", :method => "post"}
  %fieldset
    - if flash[:error]
      %p{:class => "error"}= flash[:error]
    %ol
      %li
        %label{:for => "new_window"} Which search result should open in a new window?:
        %input{:type => "radio", :name => "newwin", :value => "google"} Google
        %input{:type => "radio", :name => "newwin", :value => "delicious", :checked => "checked"} Delicious
      %li
        %label{:for => "username"} Delicious Username:
        %input{:type => "text", :name => "username", :value => @username}
    %input{:type => "submit", :value => "Create"}