%h2 Already Found Is A Search Bookmarklet 
%p 
  Have you ever queried Google for something, and eventually found the answer 
  in your bookmarks? Instead of searching Google first, use
  %strong Already Found 
  to simultaneously search Google and your favorite bookmark service!!!
%h5 Which service do you use to save bookmarks?
%p
  %a{:href => "/google", :title => "Simultaneously search Google Bookmarks"} Google Bookmarks
  |
  %a{:href => "/delicious", :title => "Simultaneously search Delicious Bookmarks"} Delicious