%h2 Create Your Bookmarklet
%p Set your bookmarklet preferences.
%form{ :action => "/bookmarklet", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "new_window"} Which search result should open in a new window?:
        %radio{:type => "radio", :name => "new_window", :value => "google"}
        %radio{:type => "radio", :name => "new_window", :value => "delicious"}
      %li
        %label{:for => "username"} Delicious Username:
        %input{:type => "text", :name => "username"}
    %input{:type => "submit", :value => "Create"}