!!! XML
!!!
%html
  %head
    %title Already Found
    %link{:rel => "stylesheet", :href => "/css/screen.css", :media => "screen, projection", :type => "text/css"}
    /[if lt IE 8]
      %link{:rel => "stylesheet", :href => "/css/ie.css", :media => "screen, projection", :type => "text/css"}
    - if ENV['RACK_ENV'] == "production"
      <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-3608116-3']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
  %body
    .container
      %h1 Already Found
      %a{:href => "http://github.com/simeonwillbanks/AlreadyFound"}
        %img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt => "Fork me on GitHub"}
      = yield
      - unless request.path_info == "/" 
        %hr/
        %p{:class => "small"} 
          %a{:href => "/", :title => "Back to home"} Home Page